<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8">
    <title>Calculadora</title>
  </head>

  <body>
    <div class="areaTotal">
      <div class="resultado">
        <span class="conteudoResultado">{{valorDaOperacao}}</span>
      </div>

      <div class="linha">
        <!-- <div class="tecla">
          <span class="operacao">C</span>
        </div> -->

        <tecla valor="C"></tecla>
      </div>

      <div class="linha">
        <!-- <div class="tecla">
          <span class="conteudoTecla">7</span>
        </div> -->
        <tecla valor="7" (click)="adicionarValor($event)"></tecla>
        <!-- <div class="tecla">
          <span class="conteudoTecla">8</span>
        </div> -->
        <tecla valor="8" (click)="adicionarValor($event)"></tecla>
        <!-- <div class="tecla">
          <span class="conteudoTecla">9</span>
        </div> -->
        <tecla valor="9"></tecla>

        <!-- <div class="tecla">
          <span class="operacao">&divide;</span>
        </div> -->
        <tecla valor="&divide;"></tecla>

      </div>

      <div class="linha">
        <div class="tecla">
          <span class="conteudoTecla">4</span>
        </div>
        <div class="tecla">
          <span class="conteudoTecla">5</span>
        </div>
        <div class="tecla">
          <span class="conteudoTecla">6</span>
        </div>

        <!-- <div class="tecla">
          <span class="operacao"></span>
        </div> -->
        <tecla valor="&times;"></tecla>
      </div>

      <div class="linha">
        <div class="tecla">
          <span class="conteudoTecla">1</span>
        </div>
        <div class="tecla">
          <span class="conteudoTecla">2</span>
        </div>
        <div class="tecla">
          <span class="conteudoTecla">3</span>
        </div>

        <!-- <div class="tecla">
          <span class="operacao">&#43;</span>
        </div> -->
        <tecla valor="&#43;"></tecla>
      </div>

      <div class="linha">
        <div class="tecla">
          <span class="conteudoTecla">0</span>
        </div>
        <div class="tecla">
          <span class="operacao">&#61;</span>
        </div>

        <!-- <div class="tecla">
          <span class="operacao">&minus;</span>
        </div> -->
        <tecla valor="&minus;"></tecla>

      </div>

    </div>
  </body>
</html>